img {
	width: 30%;
	float: left;
	margin: 1.66%;

} 

#name {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size:23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px #F1F1F1 solid;
	width: 70%;
	padding-bottom: 20px;
}