/*
Table with 3 rows and 3 tds
each box is 100px by 100px
turn on the border for the middle
*/

/** {
	border: black solid 1px;
}*/

h1 {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 100px;
	height: 100px;
}

td:hover{
	border: black solid 1px;
}

.middleVert {
	border-left: black solid 1px;
	border-right: black solid 1px;
}

.middleHoriz {
	border-top: black solid 1px;
	border-bottom: black solid 1px;
}
